# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
lib/

# Testing
test/

# VScode stuff:
.vscode/

# Environments
.env
.venv
env/
venv/

