# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Metadata
*.egg-info/

# Build and Distribution
build/
dist/
*.zip
*.tar.gz

# Test and Coverage
.pytest_cache/
.coverage
htmlcov/
data/
test/
temp/